<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Claim STP</title>
    <script src="../Scripts/jquery-2.1.1.js"></script>
    <script src="../Scripts/materialize/materialize.js"></script>
    <link href="../content/materialize/materialize.css" rel="stylesheet" />
    <script src="../Scripts/angular.js"></script>
    <script src="js/doctor.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body ng-app="Doctor" data-ng-controller="doctorController">
    <div class="row">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo">My Claim</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="../index.html">Doctor</a></li>
                    <li><a href="components.html">Claim Status</a></li>
                    <li><a href="javascript.html">Hospital Locator</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row center">
        <form class="col center m8" ng-submit="Search()">
            <div class="row">
                <div class="input-field">
                    <input id="icon_prefix" type="search" class="validate" ng-model="doctor">
                    <label for="icon_prefix">Find Your Doctor</label>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 m4" data-ng-repeat="gp in Results|filter:doctor">
            <div class="card">
                <div class="card-content">
                    <span class="title blue-grey-text darken-1 truncate" data-ng-bind="gp.Name"></span>
                    <p>
                        <label data-ng-bind="gp.AddressLine1"></label><br />
                        <label data-ng-bind="gp.AddressLine3"></label><br />
                        <label data-ng-bind="gp.AddressLine3"></label><br />
                        <label data-ng-bind="gp.AddressLine4"></label><br />
                        <label data-ng-bind="gp.AddressLine5"></label><br />
                        <label data-ng-bind="gp.PostCode"></label><br />
                    </p>
                </div>
                <div class="card-action">
                    <a class="#"><i class="mdi-communication-phone small"></i>{{gp.Phone}}</a>
                    <a class="#" href="Patient.html?lat={{gp.Latitude}}&lon={{gp.Longitude}}"><i class="mdi-av-videocam small"></i></a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
