<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Claim STP</title>    
    <script src="../Scripts/jquery-2.1.1.js"></script>
    <script src="../Scripts/materialize/materialize.js"></script>
    <link href="../content/materialize/materialize.css" rel="stylesheet" />
    <script src="../Scripts/angular.js"></script>
    <script src="js/condition.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body data-ng-app="Condition" data-ng-controller="conditionController">
    <div class="row">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo">My Claim</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Doctor</a></li>
                    <li><a href="components.html">Claim Status</a></li>
                    <li><a href="javascript.html">Hospital Locator</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="container">
            <br />
            <br />
            <div class="row left">
                <h3 class="grey-text center">Enter your Symptoms/Diagnosis</h3>
            </div>
            <div class="row center">
                <form class="col center m8" ng-submit="Search()">
                    <div class="row">
                        <div class="input-field">
                            <input id="icon_prefix" type="search" class="validate" ng-model="condition">
                            <label for="icon_prefix">Enter the Condition</label>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="collection">
                            <li class="collection-item" ng-repeat="condition in Results"><a href="\Doctor\Index.html"> {{condition}}</a></li>
                        </ul>
                    </div>
                </form>
                <div class="col m4">
                    <a class="btn waves-effect waves-light">
                        Register claim
                        <i class="mdi-content-send right"></i>
                    </a>
                    <a href="Doctor/Index.html" class="btn waves-effect waves-light">
                        Suggest a doctor
                        <i class="mdi-content-send right"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
